    .container {
        max-width:60%;
        margin:auto;
        font-family: Tahoma, serif;
        text-align: center;
    }
    .container table {
        border-collapse: collapse;
    }
     
    .container td {
        border: 1px solid black;
    }
    .left-align {
        padding-left: 10px;
        text-align: left;
    }
    .highlighted {
        background-color:orangered;
    }
button{
  margin: 2px;
  border-radius: 2px;
}   
